/* Layout */
#top-wrap h1,
div#firstHeading,
#tagline,
#nav,
#footer-wrap-inner,
.message {
	max-width: 80em;
	margin-left: 20px;
}


#main {
	max-width: 80em;
	background: white;
	border-style: solid;
	border-right-color: #aaa;
	border-bottom-color: #aaa;
	border-top-color: #ddd;
	border-left-color: #ddd;
	border-width: thin;
	margin: 0 1em 1em 1em;
}

/* Add borders so the sides line up with #main */
#nav {
	border-left-style: solid;
	border-right-style: solid;
	border-color: #333;
	border-color: rgba(50, 50, 50, 0.7);
	border-width: thin;
}

/* Typography base */
@font-face {
	font-family: 'Linux Libertine';
	src: url('fonts/LinLibertine_R_subset.woff');
}

@font-face {
	font-family: 'Linux Libertine';
	font-style: italic;
	src: url('fonts/LinLibertine_RI_subset.woff');
}

@font-face {
	font-family: 'Linux Libertine';
	font-weight: bold;
	src: url('fonts/LinLibertine_RB_subset.woff');
}

@font-face {
	font-family: 'Linux Libertine';
	font-style: italic;
	font-weight: bold;
	src: url('fonts/LinLibertine_RBI_subset.woff');
}

@font-face {
	font-family: 'Linux Biolinum';
	src: url('fonts/LinBiolinum_R_subset.woff');
}

@font-face {
  font-family: 'Material Design Iconic Font';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Material-Design-Iconic-Font.woff');
}


body {
	font-family: 'Linux Libertine', constantia, 'hoefler text', 'palatino linotype', serif;
	line-height: 1.4;
	font-size: 1.125em;
	background: #fafafa url(images/stripes-dark.svg);
	color: #333333;
}

/* Use sans-serif font for headings and navigation */
h1,
div#firstHeading,
h2,
h3,
h4,
h5,
h6,
#nav-meta,
#menu,
#bottom-wrap {
	font-family: 'Linux Biolinum', corbel, 'gill sans', 'gill sans mt', sans-serif;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

/* Set attractive monospace fonts */
pre,
code {
	font-family: consolas, 'deja vu sans mono', 'lucida sans typewriter', monaco, monospace;
}

/* Headings */
h1, div#firstHeading {
	font-size: 1.5em;
	text-transform: uppercase;
	margin-top: 1.3em;
}

h2 {
	font-size: 1.25em;
	margin-top: 1em;
}

h3 {
	font-size: 1.2em;
	margin-top: 1.15em;
}

h4 {
	font-size: 1.1em;
	margin-top: 1.3em;
}

h5 {
	font-size: 1em;
	margin-top: 1.5em;
}

h1 + h2,
h1 + h3,
h1 + h4,
h1 + h5,
h1 + h6,
h2 + h3,
h2 + h4,
h2 + h5,
h2 + h6,
h3 + h4,
h3 + h5,
h3 + h6,
h4 + h5,
h4 + h5,
h5 + h6 {
	margin-top: 0;
}

td > h1:first-child,
td > h2:first-child,
td > h3:first-child,
td > h4:first-child,
td > h5:first-child,
td > h6:first-child {
	margin-top: 0;
}

/* Header */
#top-wrap {
	background: transparent;
	margin-bottom: 2em;
}

#top-wrap h1, div#firstHeading  {
	text-decoration: none;
	font-size: 2.25em;
	line-height: 1;
	margin-top: 1.25em;
}

#tagline {
	font-size: 0.875em;
}

/* Menu */
#menubutton {
	display: none;
}

#menu {
	margin: 1em 0 -0.625em;
	overflow: hidden;
	padding: 0.5em 2em 0.5em 3.75em;
	background: #333333;
	background: rgba(50, 50, 50, 0.7);
}

#menu a {
	text-transform: uppercase;
	color: #ffffff;
}

#menu a:hover,
#menu a:focus {
	text-decoration: underline;
}

#menu li {
	display: block;
	float: left;
	margin: 0em 0.6em 0em 0em;
	padding-right: 0.6em;
	border-right: thin solid #666666;
}

#menu li:last-child {
	border-right: none;
}

/* Footer */
#bottom-wrap {
	background: #333333;
	clear: both;
	color: #ffffff;
	padding: 1.5em 0 2.5em;
}

.footer {
	float: left;
	width: 25%;
	margin-left: 5%;
}

.footer li {
	list-style: none;
	margin: 0em;
}

.footer ul {
	margin: 0em;
}

.footer .widget li {
	font-size: 0.875em;
}

.footer .widget p {
	font-size: 0.75em;
}

.footer h3 {
	border-bottom: thin solid #666666;
	margin-bottom: 0.2em;
	font-size: 1.25em;
	text-transform: uppercase;
}

.footer a,
.footer a:visited,
.footer a.new {
	color: #ffffff;
	border-bottom: thin solid #999999;
}

.footer a:hover,
.footer a:focus,
.footer a.new:hover,
.footer a.new:focus {
	border-color: #cccccc;
}

.footer li > a,
.footer li > a:visited,
.footer li > a.new {
	border-color: #444444;
}

/* Footer to content (for FooterLinks) */
#footer {
	display: block;
	clear: both;
	text-align: right;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	font-size: 0.75em;
}

#footer p {
	margin-bottom: 0em;
}

#footer li {
	list-style-position: inside;
}

/* Content */
#bodyContent,
.message *,
#footer {
	padding-left: 3.75em;
	padding-right: 3.75em;
}

#bodyContent {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

hr {
	/* This hack ensures fallback to .png if .svg isn't supported
	 * (see http://css-tricks.com/svg-fallbacks/ ) */
	background-image: url(images/hr.png);
	background-image: url(images/hr.svg), none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80% 10%;
	height: 1.25em;
	display: block;
	border: none;
}

#bodyContent > h1 {
	color: #555555;
	margin: 0 0 0.5em;
}

p,
dt,
dd,
blockquote,
center {
	margin-bottom: 0.75em;
}

li {
	margin-bottom: 0.375em;
	margin-top: 0.375em;
}

table {
	margin: 1em 0;
}

td,
th {
	padding: 0.125em 0.5em;
	text-align: left;
}

pre {
	font-size: 0.75em;
	background-color: #eee;
	padding: 10px;
}

legend {
	font-size: 0.875em;
	text-align: center;
}

blockquote {
	padding-left: 3em;
}

.center {
	width: 100%;
	text-align: center;
}

.center * {
	margin-left: auto;
	margin-right: auto;
}

/* Links */
a {
	color: #A00000;
	text-decoration: none;
	border-bottom: thin solid #A00000;
}

a:hover,
a:focus {
	border-color: #F00;
}

a:visited {
	color: #A00000;
}

a.new {
	color: #A00000;
}

/* Links that are obvious from their design surroundings */
#catlinks a,
#footer a,
a#menubutton,
#menu a,
#top-wrap h1 a,
div#firstHeading a,
.gallery a,
.thumbinner > a {
	border-bottom: none;
}

div#firstHeading a {color: black;}

/* Meta (edit links etc.) */
#nav-meta {
	float: right;
	margin: 1.5em 3.75em 0 1em;
	padding-left: 1em;
	border-left: thin solid #aaaaaa;
}

#nav-meta span {
	display: block;
	font-size: 0.75em;
	font-style: italic;
	padding: 0.4em 0;
}

#nav-meta .meta-sep {
	display: none;
}

.printfooter {
	display: none;
}

span.editsection {
	font-size: 0.75em;
}

.toc tbody,
#toc tbody {
	border: thin solid #aaa;
}

.toc li,
#toc li {
	list-style: none;
}

.toc #toctitle,
#toc #toctitle {
	text-align: center;
}

.toc h2,
#toc h2 {
	margin-top: 0em;
	display: inline;
}

.toc td,
#toc td {
	padding: 0.25em 1em;
}

.subtitle {
	margin-bottom: 1em;
	font-size: 0.875em;
	font-style: italic;
}

/* References */
.reference {
	font-size: 0.875em;
}

sup.reference:target,
ol.references > li:target {
	background-color: #ddeeff;
}

/* Images */
img {
	padding: 0.25em;
	margin-bottom: 0.5em;
}

a.image img {
	padding: 0;
	margin:0;
	border: none;
	vertical-align: middle;
}

div.floatright,
table.floatright {
	clear: right;
	float: right;
	margin: 0 0 0.5em 0.5em;
	border: 0;
}

div.floatright p {
	font-style: italic;
}

div.floatleft,
table.floatleft {
	float: left;
	clear: left;
	margin: 0 0.5em 0.5em 0;
	border: 0;
}

div.floatleft p {
	font-style: italic;
}

div.thumb {
	margin-bottom: 0.5em;
	width: auto;
}

div.thumbinner {
	border: thin solid #cccccc;
	padding: 0.2em;
	background-color: #f9f9f9;
	font-size: 0.875em;
	text-align: center;
	overflow: hidden;
}

img.thumbimage {
	border: none;
	padding: 0;
	margin: 0;
}

.thumbcaption {
	border: none;
	text-align: left;
	padding: 0.2em;
}

div.magnify {
	float: right;
}

div.magnify a,
div.magnify img {
	display: block;
	border: none;
}

div.tright {
	clear: right;
	float: right;
	margin-left: 1em;
}

div.tleft {
	float: left;
	clear: left;
	margin-right: 1em;
}

img.thumbborder {
	border: thin solid #aaaaaa;
}

.hiddenStructure {
	display: none;
}

table.gallery {
	background-color: #fafafa;
}

table.gallery td {
	background-color: #fafafa;
	border: thin solid #fafafa;
}

table.mw-specialpages-table {
	margin-top: 0;
}

/* Category and Special Page lists */
#mw-pages ul,
#mw-subcategories ul,
table.mw-specialpages-table tbody tr td ul {
	font-size: 0.875em;
}

/* Category Links */
#catlinks {
	clear: both;
	background: #666666;
	height: 100%;
	overflow: hidden;
	/* Hide the colon after "Category" */
	color: #666666;
}

#catlinks a {
	color: #ffffff;
	padding: 0 1em;
	height: 100%;
	font-size: 0.75em;
	display: inline;
}

.catlinks li:first-child {
	border-left: thin solid #aaaaaa;
}

.catlinks li {
	margin: 0em 0.25em;
}

/* Messages */
.message {
	color: #ffffff;
	background-color: #666666;
	padding: 0.75em 0 0.25em;
	border-left-style: solid;
	border-right-style: solid;
	border-color: #666666;
	border-width: thin;
}

.message * {
	padding-top: 0;
	padding-bottom: 0;
}

.message a:link,
.message a:visited {
	color: #dfdfdf;
}

#mw-js-message {
	display: none;
}

.mw-search-formheader div.search-types ul li {
	float: left;
	margin-left: 2em;
}

div.searchresult {
	margin-top: 1em;
}

.redirectText {
	font-size: 0.875em;
}

.mw-jump {
	position: absolute;
	top: 1em;
	left: 1em;
	z-index: 1;
	color: #ffffff;
	font-size: 0.75em;
}

.mw-jump a {
	color: #ffffff;
}

img#logo {
	display: block;
	margin: 2em auto 0em;
}

/* Ensure edit form doesn't clear the right floated meta
 * (.action-edit is selected so that preview content is cleared) */
body.action-edit #editform,
body.action-edit #toolbar,
body.action-edit #wpTextbox1 {
	clear: none;
}

div.productVersion {display:inline;}
div.product {display:inline;}
div.productManual {display: inline;}
#p-documentation.portlet {margin: 0 0 1em 1em;}
#documentationBody.pBody {display:inline;}
#bodyContent #toc {display:none;}
#toc {position: absolute; width: 20%; background: transparent; margin-right:2.5%; height:100%; overflow: auto;}
#content {position: absolute; left: 20%; height: 100%; width: 80%; overflow: auto;}
#toc img {margin:1em;padding: 0;}
#toc a:first-child {border: none;}
#tocpad {margin-left: 1em;}
div#firstHeading {}


/*menu css*/
.df-ajax-search, .toc-button {display:none;}
.header-wrapper .menu-section {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:1031;
    -webkit-transform: translateZ(0);
	margin:0;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
line-height: 0;
}

.sub-nav .menu-item {width:100%;} 

.header-wrapper {
    margin-bottom: 1em;
}

.header-wrapper .site-header {
    padding-top: 10px;
    padding-bottom: 40px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.site-header {
    background: #ffffff;
}

@media only screen and (min-width: 992px)
.site-header, .main-navigation a, .df-sitename {
    color: #3f3f3f;
}

.site-header, .main-navigation a, .df-sitename {
    color: #616161;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.df_container-fluid.fluid-max {
    max-width: 1170px;
}

.df_container-fluid.fluid-width {
    width: 100%;
}

.df_container-fluid {
    margin: 0 auto;
    padding: 0;
}

.col-left, .alignleft, .fl {
    float: left;
}

.df-sitename img {
    height: 30px;
    width: auto;
	padding: 0 !important;
}

img {
    border: 0;
}

.site-misc-tools {
	display: none;
}

.alignleft, .alignright {
    display: inline;
}

.col-right, .alignright, .fr {
    float: right;
}

.main-navigation, .site-misc-tools {
    height: 30px;
    line-height: 30px;
}

.df-navi {
    margin: 0;
    line-height: 1.875;
    display: inline-block;
}

ul {
    list-style: circle inside;
}

ol, ul {
    padding-left: 0;
}

.main-navigation li {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}

.site-header .main-navigation>ul>li>a {
    padding: 0 15px 15px;
}

.mobile-primary-navbar > li > a, .main-navigation .df-mega-menu > .sub-nav > li.has-children:not(.new-column) > a, .site-header .main-navigation a {
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 700;
}

@media only screen and (min-width: 992px)
.site-header, .main-navigation a, .df-sitename {
    color: #3f3f3f;
}

.main-navigation a {
    text-transform: uppercase;
}

.main-navigation a {
    display: block;
    padding: 0 15px;
    text-decoration: none;
}

.sticky-logo {
    display: none;
}

.main-navigation ul ul, .ui.overlay.sidebar.sidebar-off-canvas, .df_content-bg:before, .languages-list {
    background: rgba( 255,255,255,1 );
}

.main-navigation ul ul, .languages-list {
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    margin: 0;
    background: #fff;
    display: none;
    position: absolute;
    z-index: 99999;
    float: left;
    left: 0;
    line-height: 1.875;
    text-align: left;
    padding: 25px 15px 15px;
    min-width: 250px;
    margin-left: -15px;
}

.df_row-fluid {
    width: auto;
    margin-left: -15px;
    margin-right: -15px;
}

.sub-nav li {
    display: block;
}

.main-navigation li {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}

.main-navigation li:hover>ul {
    display: block;
}

.site-header .main-navigation ul ul a, .df-social-connect a, .languages-list a {
    font-family: "PT Sans";
    font-size: 18px;
    letter-spacing: 0.25px;
    font-weight: 400;
}

.main-navigation ul ul ul {
    top: 0;
    left: 100%;
    margin: -15px 0 0;
}

.menu-section a {
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
    border: none;
}

.menu-section a:hover {
    color: rgba(195,195,195,.8);
}

*, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.button, .df_button_flat button, .df_button_flat input[type="submit"], .df_button_flat input[type="reset"], .df_button_flat input[type="button"] {
    color: #ffffff !important;
    border-color: #e38d00;
    background: #ffa209;
	display:none !important;
}

.main-navigation .button {
    padding: .625em 1.125em!important;
}

.col-full:before, .col-full:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

#manualname_body {
	margin:0px; padding; 0px;
    display: block;
    font-size: 0.75em;
}
#bodyshim {clear: both;height: .7em; }

/*Mobile hover menu*/
@media only screen and (max-width: 992px){
.site-misc-tools ul .df-mobile-off-canvas {
    display: inline-block;
}
.site-misc-tools {
    display: inline-block;
    margin: -5px 10px 0 0;
}
#branding {margin-left:10px;}

.menu-align {display:none;}
.main-navigation {margin-top: 10px}
.site-misc-tools:hover + .menu-align, .site-misc-tools:focus + .menu-align, .menu-align:hover, .menu-align:focus {display:block;width:250px;min-height:100%;position:fixed;top:0;right:0;background-color:white; overflow: auto;box-shadow: 0 0 5px rgba(0,0,0,.2);z-index:1111;}
.menu-section:hover {height:100%;}
.main-navigation li {display: block;}
.main-navigation ul ul, .languages-list {margin-left: 0;}
#toc {display:none;margin-top:-0.55em;z-index;1100;}
#content {left:0; width: 100%;}
.toc-button {display: block; position: fixed; left:65px; top:0;margin-left:-0.5em;padding-top:15px;padding-bottom:1em;z-index:1100;}
.md-toc:before {content:'\f325';}
#bodyContent {padding: 1.5em;}
#main {margin: 0.5em;}
h1 {margin-top:0.5em;}
#p-documentation.portlet {margin: 0.5em;}
.header-wrapper { margin-bottom: 0.5em; }
.toc-button:hover + #toc, .toc-button:focus + #toc, #toc:hover, #toc:focus {display: block;background-color:white;overflow: auto; width: 100%; z-index:1112;}
}

[class^=md-], [class*=" md-"] {
    display: inline-block;
    font: normal normal normal 14px/1 'Material Design Iconic Font';
    font-size: inherit;
    speak: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.md-menu:before {
    content: "\f197";
}

.site-misc-tools ul li {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    padding: 0 0 0 15px;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    font-size: 24px;
}
